.navbar {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.9);
  padding: 1rem;
  border-bottom: 0.2px solid #666;
}

.navbar-right {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar-right > * {
  margin: 0 10px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

.navbar-right input {
  background-color: transparent;
  outline: transparent;
  border: 1px solid #666;
  padding: 0.35rem 1rem;
  border-radius: 2px;
  color: whitesmoke;
}

::placeholder {
  color: whitesmoke;
  font-weight: bold;
}
